volumetric_fog_quality = 1
volumetric_clouds_quality = 1
shadow_quality = 1
particle_quality = 1
texture_quality = 2
space_quality = 1
ambient_occlusion = true
screen_space_reflections = true
vegetation_and_rubble_density = 1
terrain_quality = 1
render_scale = 1
motion_blur = 0
depth_of_field = false
bloom = true
sharpness = 0.75
framerate_limit = 0
vsync = false
