volumetric_fog_quality = 0
volumetric_clouds_quality = 0
shadow_quality = 0
particle_quality = 0
texture_quality = 1
space_quality = 0
ambient_occlusion = false
screen_space_reflections = false
vegetation_and_rubble_density = 0
terrain_quality = 0
render_scale = 1
motion_blur = 0
depth_of_field = false
bloom = false
sharpness = 0.75
framerate_limit = 0
vsync = false
