volumetric_fog_quality = 2
volumetric_clouds_quality = 2
shadow_quality = 2
particle_quality = 2
texture_quality = 3
space_quality = 2
ambient_occlusion = true
screen_space_reflections = true
vegetation_and_rubble_density = 2
terrain_quality = 2
render_scale = 1
motion_blur = 0
depth_of_field = true
bloom = true
sharpness = 0.75
framerate_limit = 0
vsync = false
